* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p {
	font-size: 12px;
}

body {
	background-color: #f7f7f7;
	height: 100vh;
}

h1 {
	color:black;
	font-size: 24px;
}

ul {
	list-style-type: none;
}

.header__btns {
	background: none;
	border-color: transparent;
	box-shadow: none;
}

.movie-poster {
	width: 180px;
 	height: 260px;
}

.movie-null {
	background-color: white;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-row {
	margin: 0 !important;
}
:where(.css-i1mju1).ant-row {
	flex-flow: initial;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-card .ant-card-body {
	padding: 0;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-empty {
	display: flex;
	height: 260px;
	width: 180px;
	margin: 0 !important;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0 !important;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-flex {
	justify-content: space-between;
	align-items: center;
}

:where(.css-i1mju1).ant-col-12 {
	flex: none;
	align-items: center;
}

:where(.css-i1mju1).ant-flex {
	display: flex;
	justify-content: space-between;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-col-12 {
	flex: none;
	padding: 0 !important;
	max-width: 53%;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-rate {
	position: absolute;
	bottom: 20px;
	font-size: 14px;
	left: 20px;
}
:where(.css-i1mju1).ant-rate {
	display: flex;
	justify-content: center;
}

.card {
	border: 0;
	border-radius: 0;
	box-shadow: 0 4px 12px 0 #00000026;
	margin-top: 20px;
	width: 454px;
	height: 281px;
}

/* .card__row {
	width: 454px;
	height: 281px;
	overflow: hidden;
} */

.card__image {
	width: '173px',
}

.card__box {
	height: 260px;
	width: 260px;
	padding: 0 !important;
	margin: 10px 0;
}

.card__rate {
	align-items: center;
	border: 2px solid #e9d100;
	border-radius: 50%;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 30px;
}

.card__rate.high {
	border-color: #66e900;
}

.card__rate.low {
	border-color: #e97e00;
}

.card__genre {
	border-radius: 2px;
	border: 1px solid #D9D9D9;
	background: #FAFAFA;
	padding: 1px 2px;
}

.card__color-text {
	color: rgba(0, 0, 0, 0.45);
}

.card__release-date {
	display: flex;
	align-items: flex-start;
	padding-top: 10px;
}

.card__movie-gerne {
	text-align: left;
}

.card__start {
	font-size: 15px;
}

.flex {
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.box_header {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.stable-font {
	font-size: 12px;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.app-container {
	background-color: #fff;
	height: 100%;
	margin: 0 auto;
	max-width: 1010px;
	min-height: calc(100vh - 60px);
	padding: 20px 35px;
	text-align: center;
}

.card_wrap {
	display: flex;
	flex-direction: row;
}

.image_blank {
	background-color: #f7f7f7;
	width: 180px;
	height: 280px;
}

img {
	width: 183px;
	height: 281px;
}

.btn {
	background-color: none !important;
	border-color: none !important;
}

.btn-pick:hover, .btn-pick:focus {
  background-color: none;
  border-color: none;
  color: #1890FF;
	font-size: 14px;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-pagination {
	margin-top: 20px;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-pagination .ant-pagination-item-active a {
	color: white;
	background-color: #1677ff;
	border-radius: 3px;
}

:where(.css-i1mju1).ant-card .ant-card-body {
	padding: 0px;
}

:where(.css-dev-only-do-not-override-i1mju1).ant-empty {
	display: flex;
	height: 281px;
	width: 183px;
	margin: 0;
	justify-content: center;
	flex-direction: none;
	align-items: center;
}